#main {
  background-color: black;
}
.main {
  /* height: auto; */
  padding-top: 10vmax;
}
.section,
.section2 {
  padding: 1vmax;
  /* width: 100vmax; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vmax;
  gap: 1vmax;
}
.img-cnt {
  width: 48vmax;
}
.img-cnt img {
  width: 100%;
}
.img-cnt2 {
  display: flex;
  justify-content: center;
  width: 48vmax;
}
.img-cnt2 img {
  width: 50%;
}
.content {
  width: 48vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-head {
  font-family: Devanagri;
  /* font-size: 26px; */
  font-size: 1.8vmax;
  margin-bottom: 1vmax;
}
.sub-head {
  font-family: Bakbak;
  font-size: 1.3vmax;
  margin: 3vmax 0 1vmax 0;
  color: #a4a4a4;
}
.content p {
  text-align: justify;
  font-family: Devanagri;
  font-size: 1.2vmax;
  letter-spacing: 1px;
  line-height: 2vmax;
}
@media screen and (max-width: 1200px) {
  .section {
    flex-direction: column-reverse;
    gap: 3vmax;
  }
  .section2 {
    flex-direction: column;
    gap: 3vmax;
  }
  .img-cnt2 img {
    width: 100%;
  }
  .img-cnt,.img-cnt2,.content{
    width: unset;
  }
}
