#main{
  background-color: black;
}
.main {
  /* height: auto; */
  padding-top: 10vmax;
}
.section,.section2 {
  padding: 3vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vmax;
  gap: 2vmax;
  border-bottom: 1px solid #c4c4c4;
}

.img-cnt {
  width: 56vmax;
}
.img-cnt img {
  width: 100%;
}
.content {
  width: 34vmax;
  text-align: center;
}
.head {
  font-family: Copperplate;
  font-size: 1.6vmax;
  margin-bottom: 1vmax;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmax 0;
  border-bottom: 2px solid #d9d9d9;
  font-size: 1.2vmax;
}
.desc-head,
.key {
  text-align: left;
  font-family: BaiJamjuree;
  font-weight: bold;
}
.desc,
.value {
  font-size: 1.2vmax;
  font-family: BaiJamjur;
  text-align: justify;
}
.desc-head {
  font-size: 1.2vmax;
  padding: 1vmax 0;
}
@media screen and (max-width: 1200px) {
  .section {
    flex-direction: column;
  }
  .section2{
    flex-direction: column-reverse;
  }
  .content,.img-cnt {
    width: unset;
  }
}
